<?xml version="1.0" encoding="UTF-8"?>

<?define Name = "ContactsManager" ?>
<?define Manufacturer = "Eddy Appels" ?>
<?define Version = "0.0.1.0" ?>
<?define Id="{3008309A-E89C-444D-A178-F634D35D220A}" ?>
<?define UpgradeCode = "{2BF79D27-C1B7-4D83-9B79-B40A9592CF80}" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="$(var.Id)" Name="$(var.Name)" Language="1033" Version="$(var.Version)" Manufacturer="" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="ContactsManagerInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ContactsManagerInstaller" />
			</Directory>
		</Directory>
		
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

			<Component Id="SimpleAppexe" Guid="d4aff435-b8eb-4815-bff3-ed8cb69abf30">
				<File Id="SimpleAppexe" Source="$(var.SimpleApp.TargetDir)SimpleApp.exe"/>
			</Component>

			<Component Id="WixUILicenseRtf" Guid="1773408a-2216-49d3-bd1d-e6d97b10afb8">
				<File Id="Licensertf" Name="License.rtf" Source="$(var.SimpleApp.TargetDir)License.rtf"/>
			</Component>

		</ComponentGroup>
	</Product>
</Wix>